<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Templating</title>

    <meta charset="UTF-8"/>

    <link media="all" rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>

</head>
<body>

<h2>Todos</h2>
<table>
    <tr>
        <th>Todo</th>
        <th>Actions</th>
    </tr>
    <tr th:each="todo : ${todos}">
        <td th:text="${todo.id}">Id</td>
        <td>
            <form method="post" th:action="@{/todos/delete}">
                <input name="name" th:value="${todo.id}" type="hidden"/>
                <button>Delete</button>
            </form>
        </td>
    </tr>
</table>

<h2>Add new Todo</h2>
<form method="post" th:action="@{/todos}" th:object="${todo}">
    <label>id: </label>
    <input th:field="*{id}" type="text"/>
    <p th:errors="*{id}" th:if="${#fields.hasErrors('id')}">Incorrect input</p>
    <br/>
    <button type="submit">Add todo</button>
</form>

</body>
</html>